@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wdth,wght@0,6..12,95,200..1000;1,6..12,95,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
#betterdiv {
  margin: -15px -15px 15px;
  border-spacing: 0;
}

#betterdiv h1 {
  margin: 0 -2px 0;
  padding: 30px 20px;
  box-sizing: border-box;
  border: 2px solid #dedede;
  border-top: 0;
  background-color: #fcfcfc;
  font-weight: 800;
  align-items: center;
  line-height: 1;
}

.required,
.notrequired {
  padding: 15px 15px 0;
}

.required {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 7px;
}

.notrequired {
  display: grid;
  grid-template: "h1 h1" "dob dob" "f1 f2"/1fr 1fr;
}

.notrequired .header {
  grid-area: h1;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 13.5px;
  display: block;
  color: #5b5b5b;
  background: linear-gradient(90deg, #fcfcfc, #fe9c67) 0%/2000% 100%;
  margin: 0px -15px 15px;
  padding: 15px;
  border-bottom: 2px solid #dedede;
  border-top: 2px solid #dedede;
}

.notrequired .dob {
  grid-area: dob;
  padding: 10px 15px;
  background: #fcfcfc;
  border: 2px solid #dedede;
  border-radius: 3px;
  margin: 0 0 15px;
}

.notrequired .default,
.notrequired div[id^=field] {
  margin: 0px -15px;
  border-top: 2px solid #dedede;
  padding: 20px 30px;
  background-color: #f8f8f8;
  transition: 0.25s ease;
  grid-column: 1/span 2;
}

.notrequired .default:hover,
.notrequired div[id^=field]:hover {
  background-color: #fbfbfb;
}

#field_1 {
  grid-area: f1;
}

#field_2 {
  grid-area: f2;
}

.notrequired .label {
  color: #fe9c67;
  border: 2px solid #dedede;
  background: linear-gradient(90deg, #fcfcfc, #fe9c67) 0%/1000% 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  transition: 0.45s ease;
  font: 800 10px "Nunito Sans";
  display: inline-block;
  border-bottom: 0;
}

.notrequired .desc {
  color: #4b4b4b;
  border: 2px solid #dedede;
  background: #fcfcfc;
  padding: 5px 10px;
  box-sizing: border-box;
  transition: 0.45s ease;
  font: 500 10px "Nunito Sans";
  display: inline-block;
  border-bottom: 0;
}

#tag-user-menu td {
  padding-top: 15px;
}

#post-style-header, #options-header {
  display: none;
}

.post-style-options {
  display: none;
}

.post-style-options[data-visible=true] {
  display: grid;
}

select[name=tag_user_view] {
  margin-top: 4px;
}

.audi {
  max-width: 90%;
  margin: 20px auto;
}
.audi img {
  float: left;
  margin: 2.5px;
  margin-right: 8px;
  width: 70px;
  height: 70px;
  border-radius: 2px;
}
.audi .tags {
  font-size: 11px;
}

.bmw {
  width: 95%;
  margin: 10px auto;
  padding: 10px;
}
.bmw img {
  width: 100%;
}
.bmw .lyric2 {
  border-bottom: 2px solid #fe9c67;
}

html {
  overflow: hidden;
}

body {
  background-color: #fcfcfc;
  color: #4a4a4a;
  font: 400 16px "Nunito Sans";
  height: 100vh;
  overflow: auto;
}

a {
  text-decoration: none;
  color: #3b3b3b;
}

code {
  font-family: "Roboto Mono";
  font-size: 0.85em;
  margin: 0 2.5px;
}

table, tbody, tr {
  display: grid;
}

table {
  background-color: #f0f0f0;
  border-spacing: 0;
  width: 100%;
  border-right: 2px solid #dedede;
}

table:nth-of-type(1) {
  border-top: 0;
}

tr {
  display: grid;
  grid-template-columns: 30% 1fr;
  border-top: 2px solid #dedede;
  background: #dedede;
  gap: 2px;
}

tr:nth-of-type(1) {
  border-top: 0;
}

tr:empty {
  display: none;
}

td {
  padding: 15px;
  counter-reset: section;
  background: #f0f0f0;
}

.col1 {
  grid-template-columns: auto;
}

input,
textarea {
  border: 2px solid #dedede;
  background: linear-gradient(90deg, #fcfcfc, #fe9c67) 0%/1000% 100%;
  padding: 5px 10px;
  width: 100%;
  box-sizing: border-box;
  transition: 0.45s ease;
  color: inherit;
}

input:hover,
textarea:hover {
  background: linear-gradient(90deg, #fcfcfc, #fe9c67) 0%/500% 100%;
}

.h1 {
  padding: 30px 20px;
  box-sizing: border-box;
  background-color: #fcfcfc;
  font-weight: 800;
  align-items: center;
  line-height: 1;
}

.h1 td {
  background: unset;
}

.h1 a {
  display: inline-block;
  border: 2px solid #dedede;
  background: linear-gradient(90deg, #fcfcfc, #fe9c67) 0%/1000% 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  transition: 0.45s ease;
  font: 800 10px "Nunito Sans";
  color: #fe9c67;
}

.h1 a:hover {
  background: linear-gradient(90deg, #fcfcfc, #fe9c67) 0%/500% 100%;
}

select {
  all: unset;
  padding: 5px 11px;
  background: #fcfcfc;
  border: 2px solid #dedede;
  cursor: pointer;
  border-radius: 3px;
  transition: 1s ease;
  width: -webkit-fill-available;
  width: -moz-available;
}

select[multiple] {
  padding: 0;
}

select,
::picker(select) {
  appearance: base-select;
}

select::picker-icon {
  color: #999;
  transition: 0.4s rotate;
}

select:open::picker-icon {
  rotate: 180deg;
}

::picker(select) {
  border: 2px solid #dedede;
  border-radius: 3px;
  margin: 2.5px 0;
}

option {
  appearance: unset;
  border-top: 2px solid #dedede;
  padding: 8px;
  background: #fcfcfc;
  transition: 0.4s;
  font-family: "Nunito Sans";
}

option:hover {
  background: #f4f4f4;
}

option:checked {
  background: #ebebeb;
}

option:nth-of-type(1) {
  border-top: 0;
}

option::checkmark {
  content: "";
}

#submit {
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 800;
  grid-template-columns: auto;
}

#submit td {
  background-color: #fcfcfc;
  transition: 0.35s ease;
}

#submit:hover td {
  background: #fff8f5;
}

#submit button {
  all: unset;
  padding: 30px 20px;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.para-start {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 13.5px;
  display: block;
  color: #5b5b5b;
  background: linear-gradient(90deg, #fcfcfc, #fe9c67) 0%/2000% 100%;
  margin: 0px -15px 15px;
  padding: 15px;
  border-bottom: 2px solid #dedede;
  border-top: 2px solid #dedede;
}

.para-start:nth-of-type(1) {
  border-top: 0;
  margin-top: -15px;
}

.para-sub1 {
  border: 2px solid #dedede;
  background: linear-gradient(45deg, #fcfcfc, #ffeee4) 0%/150% 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  transition: 0.45s ease;
  display: inline-block;
  margin: 0;
  font-weight: 700;
}

.para-sub1:before {
  counter-increment: section;
  content: counter(section);
  margin: -5px 10px -5px -10px;
  padding: 5px 10px;
  border-right: 2px solid #dedede;
}

.para-sub1 + .para-important {
  margin-top: 5px;
}

.para-important {
  border: 2px solid #dedede;
  background-color: #fcfcfc;
  padding: 5px 10px;
  box-sizing: border-box;
  transition: 0.45s ease;
  display: inline-block;
  margin: 0;
}

span.para-important {
  font-size: 12px;
  padding: 2px 10px;
  margin: 0 4px;
}

note {
  display: block;
  margin: 12px;
  background: #fafafa;
  padding: 8px;
  font-size: 14px;
  color: #9a9a9a;
  border: 2px solid #dedede;
  letter-spacing: 0.06ch;
}

note[def=code] {
  font-family: "Roboto Mono";
  white-space: pre-wrap;
  word-break: break-word;
}

note[def~=schema] {
  font-family: "Roboto Mono";
  white-space: pre-wrap;
}

note[def=caution] {
  background: linear-gradient(45deg, #fcfcfc, rgba(248, 109, 89, 0.231372549)) 0%/150% 100%;
  border-color: #d4b9b9;
  color: #872828;
}
note[def=caution]:before {
  content: "⚠︎ " attr(def);
  background-color: rgba(198, 45, 45, 0.11);
  font-weight: 800;
  display: inline-block;
  border-right-width: 2px;
  border-right-style: solid;
}
note[def=caution] li {
  margin: 5px 0;
}

note:before {
  content: attr(def);
  margin: -8px -8px 8px -8px;
  padding: 10px 10px 8.5px 10px;
  border-bottom: 2px solid;
  border-color: inherit;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.014);
  display: block;
}

#doc {
  display: grid;
  grid-template: "switcher usage" min-content "demo usage" 1fr/1fr 1fr;
  gap: 15px;
  padding: 15px;
  box-sizing: border-box;
  align-items: flex-start;
  overflow: hidden;
  height: 100dvh;
}

#usage {
  grid-area: usage;
  max-height: 100%;
  scrollbar-gutter: stable;
  overflow: auto;
  border: 2px solid #dedede;
  box-sizing: border-box;
}

#demo {
  display: grid;
  grid-area: demo;
  gap: 15px;
  border: 2px solid #dedede;
  max-height: 100%;
  box-sizing: border-box;
  overflow: auto;
  scrollbar-gutter: stable;
}

demo {
  display: none;
}

demo.visible {
  display: block;
}

#demo-switcher {
  grid-area: switcher;
}

/* ?act=Post styling */
.tag_container {
  display: none;
}

.tag_container[data-visible=true] {
  display: block;
}

tag {
  cursor: pointer;
}

tag:before {
  content: "x";
  margin-right: 5px;
  font-weight: 600;
  font-size: 0.85em;
  vertical-align: text-top;
}

.tags_preview {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

tag {
  padding: 5px 11px;
  background: #fcfcfc;
  border: 2px solid #dedede;
  border-radius: 3px;
  transition: 1s ease;
  display: inline-block;
  background: linear-gradient(90deg, #fcfcfc 50%, #fe9c67) 0%/50% 100%;
  background-attachment: fixed;
}

.tag_container {
  margin: 7px 0;
}
.tag_container input {
  display: none;
}
.tag_container label {
  margin: 2.5px 0px;
  border: 2px solid #dedede;
  background: linear-gradient(90deg, #fcfcfc, #fe9c67) 0%/1000% 100%;
  padding: 5px 10px;
  display: block;
  cursor: pointer;
  transition: 0.35s ease;
}
.tag_container label:hover {
  background: linear-gradient(90deg, #fcfcfc, #fe9c67) 0%/500% 100%;
}
.tag_container input:checked + label {
  background: linear-gradient(90deg, #fcfcfc, #fe9c67) 0%/200% 100%;
}

@media only screen and (max-width: 600px) {
  table {
    border-right: 0;
  }
  tr {
    grid-template-columns: auto;
  }
  td:nth-of-type(1) {
    border-right: 0;
  }
  #demo {
    scrollbar-gutter: auto;
    overflow: unset;
    max-height: unset;
  }
  #usage {
    max-height: unset;
    scrollbar-gutter: unset;
    overflow: unset;
  }
  #doc {
    grid-template: "switcher" min-content "demo" auto "usage" auto/100%;
    overflow: auto;
    height: 100dvh;
  }
  tag {
    background: linear-gradient(90deg, #fcfcfc 50%, #fe9c67) 0%/100% 100%;
    background-attachment: fixed;
  }
}

/*# sourceMappingURL=main.css.map */
