#tag-user-menu td {
  padding-top:15px
}

#post-style-header, #options-header {display:none}

.post-style-options {
  display: none;
}
.post-style-options[data-visible="true"] {
  display: grid;
}
select[name='tag_user_view'] {
  margin-top: 4px;
}

.audi {
  max-width: 90%;
  margin: 20px auto;
  img {
    float: left;
    margin: 2.5px;
    margin-right: 8px;
    width: 70px;
    height: 70px;
    border-radius: 2px;
  }
  .tags {
    font-size: 11px;
  }
}

.bmw {
  width: 95%;
  margin: 10px auto;
  padding: 10px;
  img {
    width: 100%;
  }
  .lyric2 {
    border-bottom: 2px solid #fe9c67;
  }
}

